@model DoAnWebThiTracNghiem.Models.Users
<header class="flex items-center justify-between bg-white p-4 shadow">
    <div class="flex items-center">
        <p class="w-40 text-base uppercase sm:w-full sm:text-lg sm:inline-block">Xin chào giáo viên: @Html.DisplayFor(model => model.FullName)</p>
    </div>
    <div class="relative flex items-center">
        <div class="flex items-center" id="userDropdown">
            
            <div id="userDropdownToggle" class="relative flex cursor-pointer items-center">
                <img class="mr-2 h-8 w-8 rounded-full" src="@(string.IsNullOrEmpty(Model.AvatarUrl) ? "https://i.pravatar.cc/40?u=" + Model.Email : Model.AvatarUrl) " alt="User Avatar">
                <svg class="ml-1 h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
               <div id="userDropdownContent" class="invisible absolute top-full right-0 z-10 mt-2 w-48 translate-y-2 rounded-md border border-green-700 bg-white opacity-0 shadow-lg transition-transform duration-300 ease-in-out">
                    
                    <a asp-action="Profile" asp-controller="Account" class="block rounded-md border-t px-4 py-2 text-gray-700 hover:text-indigo-400">Xem hồ sơ</a>
                    <a asp-action="ChangePassword" asp-controller="Users" asp-area="" class="block rounded-md border-b px-4 py-2 text-gray-700 hover:text-indigo-400">Đổi mật khẩu</a>
                </div>
            </div>

        </div>
        <button id="menuToggle" class="ml-4 p-2 text-indigo-600 hover:text-indigo-800 focus:outline-none md:hidden">
            <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>
</header>