@model DoAnWebThiTracNghiem.Models.Exam

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Teacher/Views/Shared/_layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete  @Html.DisplayFor(model => model.Exam_Name) ?</h3>
<div>
   
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Exam_ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
