@model DoAnWebThiTracNghiem.Models.Users
<header class="flex items-center justify-between bg-white p-4 shadow">
    <div class="flex items-center uppercase">
        <p class="font-bold">Xin chào Admin @Html.DisplayFor(model => model.FullName)</p>
    </div>
    <div class="relative flex items-center">
       
        <button id="menuToggle" class="ml-4 p-2 text-indigo-600 hover:text-indigo-800 focus:outline-none md:hidden">
            <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>
</header>